<div class="hidd">
  <button class="comment-edit-btn">edit</button>
  <form class="delete-comment" action="/comments/<%=comment.id%>" method="POST">
    <input type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete">
  </form>
  <div class="hidden-comment-edit">
    <form  action="/comments/<%=comment.id%>" method="POST">
      <input type="hidden" name="_method" value="put">
        <textarea  name="text" rows="5" cols="25" placeholder="<%=comment.text%>" value=<%=comment.text%> ></textarea><br>
      <input class="no-border" type="submit" value="update">
    </form>
  </div>
</div>