#main-div{margin: 100px;
  text-align: center;
}
#greeting {
  font-size: 60px;
  text-align: center;
}
.main-links {
  text-align: center;
}
.main-links a {
  decoration: none;
  font-size: 50px;
  color: green;
}
#signin, #signup {
  display: none;
}
#create-item {
  display: none;
  position: relative;
  left: 300px;
  width: 40%;
  margin: 20px;
}
#hidden_create {
  display: none;
}
#comment-field {
  margin-left: 100px;
  text-align: left;
  width: 60%;
  border-top: 2px solid black;
}