<form action='/authentication/signin' method='POST'>
    <label>Email address:</label><br>
    <input type='text' name='email'  placeholder='EMAIL'/><br><br>
    <label>Password:</label><br>
    <input type='password' name='password' placeholder='PASSWORD'/><br><br>
    <input class="index_buttons sign_form" type="submit" value = "GO!">
</form>